name: Build pull request

on: [pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.0.x
        
    - name: Build and test
      run: |
        dotnet test src/NodaTime.Serialization.Test
        dotnet pack src/NodaTime.Serialization.JsonNet
        dotnet pack src/NodaTime.Serialization.Protobuf
        dotnet pack src/NodaTime.Serialization.SystemTextJson
